<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Proyectos/Commerce_Page">
        <classes>
            <class name="Login_Test">
                <methods>
                    <include name="Cargar_Pagina"/>
                    <include name="Ingresar_Credenciales"/>
                    <include name="confirmar_ingreso"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>